<div class="card hidden-pocket border-0">
  <div class="card__section card__section--tight p-0">
    <div class="card__linklist mt-3">
      <a href="{{ routes.account_url }}" class="card__linklist-item link {% if request.path == '/account' or request.path contains '/account/orders/' %}color-main-100 fw-bold text--strong{% else %}color-main-080{% endif %} py-3">
        <i class="fas fa-gift w-15 text-center" aria-hidden="true"></i>
        <span>Pedidos</span>
      </a>
      {% comment %}
      <a href="#" class="card__linklist-item link {% if request.path == '/account/credit' %}text--strong{% endif %} py-3">
        <i class="fas fa-dollar-sign w-15 text-center" aria-hidden="true"></i>
        <span>Crédito e promoções</span>
      </a>
      {% endcomment %}
      <a href="{{ routes.account_addresses_url }}" class="card__linklist-item link {% if request.path == '/account/addresses' %}color-main-100 fw-bold text--strong{% else %}color-main-080{% endif %} py-3">
        <i class="fas fa-truck w-15 text-center color-main-" aria-hidden="true"></i>
        <span>Endereços</span>
      </a>
      <a href="{{ routes.account_logout_url }}" class="card__linklist-item link py-3 color-main-080" data-no-instant>
        <i class="fas fa-sign-out-alt w-15 text-center" aria-hidden="true"></i>
        <span>{{ 'customer.general.logout' | t }}</span>
      </a>
    </div>
  </div>
</div>

<div class="value-picker-wrapper hidden-tablet-and-up">
  <button class="value-picker-button value-picker-button--pill mb-4" aria-haspopup="true" aria-expanded="false" aria-controls="account-selector" data-action="open-value-picker">
    <span class="m-auto">{{- 'customer.general.orders' | t -}} {%- render 'icon', icon: 'arrow-bottom' -%}</span>
  </button>

  <div id="account-selector" class="value-picker" aria-hidden="true">
    <div class="value-picker__inner">
      <header class="value-picker__header">
        <span class="value-picker__title text--strong">{{ 'customer.general.my_account' | t }}</span>
        <button class="value-picker__close" data-action="close-value-picker" aria-controls="account-selector" aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
      </header>

      <div class="value-picker__choice-list">
        <a href="{{ routes.account_url }}" class="value-picker__choice-item {% if request.path == '/account' or request.path contains '/account/orders/' %}is-selected{% endif %}">
          <i class="fas fa-gift w-15 text-center" aria-hidden="true"></i>
          <span>{{ 'customer.general.orders' | t }} {% render 'icon', icon: 'check-2' %}</span>
        </a>
        {% comment %}
        <a href="#" class="value-picker__choice-item {% if request.path == '/account/credit' %}is-selected{% endif %}">
          <i class="fas fa-dollar-sign w-15 text-center" aria-hidden="true"></i>
          <span>Crédito e promoções {% render 'icon', icon: 'check-2' %}</span>
        </a>
        {% endcomment %}
        <a href="{{ routes.account_addresses_url }}" class="value-picker__choice-item {% if request.path == '/account/addresses' %}is-selected{% endif %}">
          <i class="fas fa-truck w-15 text-center" aria-hidden="true"></i>
          <span>Endereços {% render 'icon', icon: 'check-2' %}</span>
        </a>
        <a href="{{ routes.account_logout_url }}" class="value-picker__choice-item" data-no-instant>
          <i class="fas fa-sign-out-alt w-15 text-center" aria-hidden="true"></i>
          <span>{{ 'customer.general.logout' | t }}</span>
        </a>
      </div>
    </div>
  </div>
</div>