<div class="{{ class }} position-absolute start-0 top-0 w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="px-3 logo-container">
        <svg
        class="icon-svg"
        width="408"
        height="56"
        viewBox="0 0 203 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1.79719 0V27H0V0H1.79719Z" fill="#fff" />
        <path
          d="M38.4183 27H36.6211L20.1669 2.84615V27H18.3697V0.03846H20.1669L36.6211 24.1154V0.03846H38.4183V27Z"
        />
        <path
          d="M76.1589 0L65.4556 27H63.4588L52.7955 0H54.7524L64.4572 24.9615L74.2419 0H76.1589Z"
        />
        <path
          d="M92.2805 1.46154V12.7308H103.463V14.1923H92.2805V25.5385H104.661V27H90.4833V0H104.661V1.46154H92.2805Z"
        />
        <path
          d="M140.134 27H138.337L121.883 2.84615V27H120.085V0.03846H121.883L138.337 24.1154V0.03846H140.134V27Z"
        />
        <path
          d="M172.204 0V1.46154H164.216V27H162.419V1.46154H154.431V0H172.204Z"
        />
        <path
          d="M198.367 20.0769H185.068L182.392 27H180.435L190.739 0.615382H192.736L203 27H201.043L198.367 20.0769ZM197.808 18.6154L191.738 2.88461L185.627 18.6154H197.808Z"
        />
      </svg>
    </div>
</div>

<style>
    .{{ class }}{
        z-index: 1;
        background: #fff;
    }
    .{{ class }} .icon-svg{
        max-width: 100%;
        stroke: #222 !important;
    }
    .{{ class }} .icon-svg path{
        fill: #222;
        stroke: #222;
    }
    .{{ class }} .logo-container{
        animation: logo-loader 2s linear infinite;
    }

    @keyframes logo-loader{
        0% {
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
        5%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 100%, 0 100%);
        }
        10%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        15%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        20%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        25%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        30%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        35%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        40%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        45%{
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        50%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 100%, 0 100%);
        }
        55%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 100%, 10% 100%, 10% 0, 0 0);
        }
        60%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 100%, 20% 100%, 20% 0, 10% 0, 10% 0, 0 0);
        }
        65%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 100%, 30% 100%, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
        70%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 100%, 40% 100%, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
        75%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 100%, 50% 100%, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
        80%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 100%, 60% 100%, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
        85%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 100%, 70% 100%, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
        90%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 100%, 80% 100%, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
        95%{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
        100% {
            clip-path: polygon(0 0, 100% 0, 100% 0, 90% 0, 90% 0, 80% 0, 80% 0, 70% 0, 70% 0, 60% 0, 60% 0, 50% 0, 50% 0, 40% 0, 40% 0, 30% 0, 30% 0, 20% 0, 20% 0, 10% 0, 10% 0, 0 0);
        }
    }
</style>